<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCPro_02_GetParameter:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCPro_02_GetParameter_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCPro_02_GetParameter/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCPro_02_GetParameter" />
        </element>
      </element>
    </root>
  </artifact>
</component>